version: "3.9"

services:
  backend:
    build: .
    command: >
      sh -c "python3 -m flaskr.scripts.seed_data && gunicorn --reload -w 4 -b 0.0.0.0:8000 wsgi:app"
    container_name: flask_backend
    restart: always
    volumes:
      - .:/app
      - /app/.venv
    expose:
      - "8000"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    env_file: .env
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./vite-react
      target: dev
    container_name: react_frontend
    command: npm run dev -- --host 0.0.0.0
    restart: always
    volumes:
      - ./vite-react:/app
      - /app/node_modules
    expose:
      - "5173"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
      - db
    restart: always

volumes:
  postgres_data: